
#cy{
    width: 70%;
    height: 100vh;
    background-color: white;
    border: 4px solid #000000;
    border-radius: 10px;
    justify-content: center;
    justify-items: center;
}


.cytoscape-container {
    width: 100%;
    height: 100%;
}

.course_table{
    justify-content: center;
    align-items: center;
    text-align: center;

}



.node {
  background-color: #f0f0f0;
  border: 1px solid #000000;
  /* padding: 10px; */
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  /* color: #333; */
  font-family: Arial, sans-serif;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  display: inline-block;
  /* opacity: .5; */
}

table {
    white-space: nowrap;
}




